<nb-card>
  <nb-card-header>{{ cardTitle }}</nb-card-header>
  <nb-card-body>
    <form #classForm="ngForm" (ngSubmit)="!edit ? addClassForm(classForm) : editClassForm(classForm)">
      
      <div class="form-group">
        <label for="description" class="label">Descripción</label>
        <input type="text" nbInput fullWidth id="description" name="description" placeholder="Descripción" [(ngModel)]="clase.description" #description="ngModel" required>
      </div>
      
      <div class="form-group">
        <label for="trainer_id" class="label col-sm-4 col-form-label">Entrenador (*)</label>
        <select [(ngModel)]="clase.trainer_id" name="trainer_id" #trainer_id="ngModel" required>
          <option value="">-</option>
          <option *ngFor="let t of trainers" [value]="t.id">{{t.name}} {{t.lastname}}</option>
        </select>
      </div>

      <button type="submit" nbButton status="primary">Guardar</button>
    </form>
  </nb-card-body>
</nb-card>