<nb-card>
  <nb-card-header>{{ cardTitle }}</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="name" class="label">Comisión</label>
          <input type="text" nbInput fullWidth id="name" placeholder="Comisión">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="lastname" class="label">Descripción</label>
          <input type="text" nbInput fullWidth id="lastname" placeholder="Descripción">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="name" class="label">Nombres de Entrenador</label>
          <input type="text" nbInput fullWidth id="name" placeholder="Nombres de Entrenador">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="lastname" class="label">Apellidos de Entrenador</label>
          <input type="text" nbInput fullWidth id="lastname" placeholder="Apellidos de Entrenador">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="ci" class="label">Cédula de Identidad</label>
          <input type="ci" nbInput fullWidth id="ci" placeholder="Cédula de Identidad">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="stock_number" class="label">Correo Electrónico</label>
          <input type="text" nbInput fullWidth id="stock_number" placeholder="Correo Electrónico">
        </div>
      </div>
    </div>
    <button type="button" nbButton (click)="createClass()">Agregar</button>
  </nb-card-body>
</nb-card>