<nb-card>
  <nb-card-header>Formulario de clases</nb-card-header>
  <nb-card-body>
    <form #classForm="ngForm" (ngSubmit)="!edit ? addClassForm(classForm) : editClassForm(classForm)">
      
      <div class="form-group">
        <label for="description" class="label">Descripción</label>
        <input type="text" nbInput fullWidth id="description" name="description" placeholder="Descripción" [(ngModel)]="clase.description" #description="ngModel" required>
      </div>
      <div *ngIf="description.errors && classForm.submitted" class="alert alert-danger">
        <div *ngIf="description.errors.required">
            La descripción es obligatoria
        </div>
      </div>

      <div class="form-group">
        <label for="trainer_id" class="label col-sm-4 col-form-label">Entrenador (*)</label>
        <select [(ngModel)]="clase.trainer_id" name="trainer_id" #trainer_id="ngModel" required [disabled]="edit">
          <option *ngFor="let t of trainers" [value]="t.id">{{t.name}} {{t.lastname}}</option>
        </select>
      </div>
      <div *ngIf="trainer_id.errors && classForm.submitted" class="alert alert-danger">
        <div *ngIf="trainer_id.errors.required">
            El Entrenador es obligatorio
        </div>
      </div>

      <div>
          <label class="label">Los campos con (*) son obligatorios</label>
      </div>

      <button type="submit" nbButton status="primary">Guardar</button>
    </form>
  </nb-card-body>
</nb-card>