<div *ngIf="spinner">
  <nb-card [nbSpinner]="true" nbSpinnerSize="giant" nbSpinnerStatus="primary">
    <nb-card-header>
        Listado de Solicitudes
    </nb-card-header>
  </nb-card>
</div>


<div *ngIf="!spinner">
<nb-card>
    <nb-card-header>
      Listado de Solicitudes
    </nb-card-header>
    
    <nb-card-body>
      <ng2-smart-table 
        [settings]="settings" 
        [source]="source" 
        (create)="createRequest($event)"
      >
      </ng2-smart-table>
    </nb-card-body>
</nb-card>
</div>
      