<h1 id="title" class="title">Olvido de Contraseña</h1>
<p class="sub-title">Ingresa tu correo electrónico y te enviaremos una nueva contraseña temporal.</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Rayos!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="submitted" outline="success" role="alert">
  <p class="alert-title"><b>Wujuuu!</b></p>
  <ul class="alert-message-list">
    <li class="alert-message">Se ha enviado a tu correo una nueva contraseña!</li>
  </ul>
</nb-alert>

<form (ngSubmit)="requestPassword(user)" #requestPassForm="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">Ingresa tu correo electrónico:</label>
    <input nbInput
           [(ngModel)]="user.email"
           #email="ngModel"
           id="input-email"
           name="email"
           pattern=".+@.+\..+"
           placeholder="E-mail"
           autofocus
           fullWidth
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.email.required')"
           [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        El correo electrónico es requerido!
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">
        El correo electrónico debe tener el formato correcto!
      </p>
    </ng-container>
  </div>

  <button nbButton
          fullWidth
          status="success"
          [disabled]="submitted || !requestPassForm.valid"
          [class.btn-pulse]="submitted">
    Solicitar Contraseña
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Volver a inicio de sesión</a></p>
</section>