<nb-card>
  <nb-card-header>{{ cardTitle }}</nb-card-header>
  <nb-card-body>
    <form #requestForm="ngForm" (ngSubmit)="!edit ? addRequestForm(requestForm) : editRequestForm(requestForm)">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="athlete_id'" class="label">Atleta (*)</label>
          <div>
              <select selected="1" id="athlete_id" name="athlete_id" [(ngModel)]="request.athlete_id" #athlete="ngModel" required>
                <option *ngFor="let athlete of athletesList" [value]="athlete.id">{{athlete.name}}</option>
              </select>
            </div>        
        </div>
        <div *ngIf="athlete.errors && requestForm.submitted" class="alert alert-danger">
            <div *ngIf="athlete.errors.required">
                El atleta es obligatorio
            </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="class_id" class="label">Clase (*)</label>
          <div>
              <select id="class_id" name="class_id" [(ngModel)]="request.class_id" #class="ngModel" required>
                <option *ngFor="let class of classList" [value]="class.id">{{class.description}}</option>
              </select>
            </div>          
        </div>
        <div *ngIf="class.errors && requestForm.submitted" class="alert alert-danger">
            <div *ngIf="class.errors.required">
                La clase es obligatoria
            </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
              <label for="retire" class="label">Acción (*)</label>
              <div>
                  <select selected="1" id="retire" name="retire" [(ngModel)]="request.retire" #retire="ngModel" required>
                    <option value="0">Ingreso</option>
                    <option value="1">Retiro</option>
                  </select>
                </div> 
                <div *ngIf="retire.errors && requestForm.submitted" class="alert alert-danger">
                    <div *ngIf="retire.errors.required">
                         Seleccionar una opción de acción es obligatorio
                    </div>
                </div>        
            </div>
          </div>
    </div>
    <div>
        <label class="label">Los campos con (*) son obligatorios</label>
      </div>
    <button type="submit" nbButton>Agregar</button>
  </form>
  </nb-card-body>
</nb-card>